<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ url('templates/assets/css/style.css') }}">
        <link rel="stylesheet" href="{{ url('templates/website/assets/css/style.css') }}">

        <title>Document</title>
    </head>

    <body>
        {% include 'Header/index.html' %}

        {% block content %}{% endblock %}

        {% include 'Footer/index.html' %}

        <script src="{{ url('templates/assets/js/scripts.js') }}"></script>
        <script src="{{ url('templates/website/assets/js/scripts.js') }}"></script>
    </body>
</html>