<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link 
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" 
            crossorigin="anonymous"
        >

        <link rel="stylesheet" href="{{ url('templates/assets/css/style.css') }}">
        <link rel="stylesheet" href="{{ url('templates/website/assets/css/style.css') }}">

        <title> 
            {% if title %}
                {{ title }} - {{ constant('SITE_NAME') }}
            {% else %}
                {{ constant('SITE_NAME') }}
            {% endif %}
        </title>
    </head>

    <body>
        {% include 'Header/index.html' with { 'categorias': categorias } %}

        <div class="container py-5">
            {% block content %}{% endblock %}
        </div>

        {% include 'Footer/index.html' %}

        <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" 
            crossorigin="anonymous"
        ></script>

        <script src="{{ url('templates/assets/js/scripts.js') }}"></script>
        <script src="{{ url('templates/website/assets/js/scripts.js') }}"></script>
    </body>
</html>